<h1>Welcome to <%= @location.name %> Indoor Skydiving</h1>

<h2>Meet our team of coaches</h2>
<% @location.coaches.each do |coach| %>
  <%= link_to coach.name, location_coach_path(coach.location, coach) %><br>
      Certified to coach level <%= coach.level %> students<br>
<% end %>

<h3>Joining us for a flight?</h3>

<%= link_to "Book time", new_user_appointment_path(current_user) %><br>

<h4>Other account actions</h4>
<%= link_to "Back to Profile", user_path(current_user) %> <br>
<%= link_to "Booked times", user_appointments_path(current_user) %><br>
<%= link_to "Back to locations", locations_path %><br>
